:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light);

  transition: 0.5s background-color;
}

.main-content {
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background-dark {
  background-color: var(--dark);
}

.hide-content {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
